<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">PRUEBA SITIAPP</a>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="app-usuarios" >Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="app-productos" >Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="app-facturas" >Facturas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="app-reporteproducto" >Reporte de producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"href="app-reportecliente">Reporte de clientes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
